.section {
    margin-bottom: 2rem;
    /* width: 100%; */

    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    --header-spacing: 0.5rem;
    --header-size: 2rem;
    padding: var(--header-spacing);
    font-size: var(--header-size);
}

/* Fix this */
.scrollContainer {
    --header-width: 400px;
    position: relative;
    max-width: 400px;

    margin: auto;
    overflow: hidden;
    z-index: 1;
}

.scrollContent {
    display: flex;
    position: relative;
    width: 100%;
    white-space: nowrap;
    transition: all 1s --animation-curve;
}

.scrollContent:hover {
    color: var(--tertiary-color);
    text-shadow: var(--text-shadow-primary);
}

.scrollContent>h2 {
    animation: moveRight 10s linear infinite;
}

.bandsContainer {
    --gap: 0.5rem;
    --spacing: 0.5rem;
    --font-size: 1rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;

    gap: var(--gap);
    padding: var(--spacing);
    margin-top: 1rem;

    font-size: var(--font-size);
}

.sectionContent {
    margin-top: 1rem;
}

.entryContainer {
    --gap: 0.25rem;
    --spacing: 0.5rem;
    --font-size: 1rem;

    max-width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    gap: var(--gap);
    padding: var(--spacing);

    font-size: var(--font-size);
    text-align: center;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 600px) {
    .header {
        --header-spacing: 1rem;
        --header-size: 2.5rem;
    }

    .bandsContainer {
        --gap: 1rem;
        --spacing: 2rem;
        --font-size: 1.2rem;
        max-width: 75%;
    }

    .entryContainer {
        --gap: 1rem;
        --spacing: 2rem;
        --font-size: 1.2rem;
        padding: calc(var(--spacing) / 2) var(--spacing);
    }

    .scrollContainer {
        max-width: 1000px;
    }
}

@media only screen and (min-width: 1200px) {
    .header {
        --header-spacing: 1rem;
        --header-size: 3rem;
    }

    .bandsContainer {
        --gap: 1rem;
        --spacing: 3rem;
        --font-size: 1.5rem;
    }

    .entryContainer {
        --gap: 1rem;
        --font-size: 1.5rem;
        --spacing: 2rem;

        max-width: 100%;
        flex-direction: row;
        padding: calc(var(--spacing) / 2) var(--spacing);
    }

    .scrollContainer {
        max-width: 2000px;
    }
}

/* END OF MEDIA QUERIES */

/* LINES */
.headerContainer::after {
    content: '';
    width: calc(100% + var(--grid-line-offset));
    position: absolute;
    left: calc(var(--grid-line-offset) / 2 * -1);
    height: var(--grid-line-width);
    background: linear-gradient(to right, var(--grid-line-color), var(--grid-line-color) 50%, transparent 0, transparent);
    background-size: var(--grid-line-gap) var(--grid-line-width);

    mask-composite: exclude;
    mask:
        linear-gradient(to left,
            var(--secondary-color) var(--grid-line-fade-stop),
            transparent),
        linear-gradient(to right,
            var(--secondary-color) var(--grid-line-fade-stop),
            transparent),
        linear-gradient(var(--primary-color), var(--primary-color));
}

.entryContainer::after {
    content: '';
    width: calc(100% + var(--grid-line-offset));
    position: absolute;
    left: calc(var(--grid-line-offset) / 2 * -1);
    height: var(--grid-line-width);
    background: linear-gradient(to right, var(--grid-line-color), var(--grid-line-color) 50%, transparent 0, transparent);
    background-size: var(--grid-line-gap) var(--grid-line-width);

    mask-composite: exclude;
    mask:
        linear-gradient(to left,
            var(--secondary-color) var(--grid-line-fade-stop),
            transparent),
        linear-gradient(to right,
            var(--secondary-color) var(--grid-line-fade-stop),
            transparent),
        linear-gradient(var(--primary-color), var(--primary-color));
}

.headerContainer::before {
    content: '';
    width: calc(100% + var(--grid-line-offset));
    position: absolute;
    left: calc(var(--grid-line-offset) / 2 * -1);
    height: var(--grid-line-width);
    background: linear-gradient(to right, var(--grid-line-color), var(--grid-line-color) 50%, transparent 0, transparent);
    background-size: var(--grid-line-gap) var(--grid-line-width);

    mask-composite: exclude;
    mask:
        linear-gradient(to left,
            var(--secondary-color) var(--grid-line-fade-stop),
            transparent),
        linear-gradient(to right,
            var(--secondary-color) var(--grid-line-fade-stop),
            transparent),
        linear-gradient(var(--primary-color), var(--primary-color));
}

/* END OF LINES */

/* ANIMATION */
@keyframes moveRight {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}

/* END OF ANIMATION */

/* .gridContainer::before {
 
    content: '';
    position: absolute;
    top: calc(var(--grid-line-offset) / 2 * -1);
    height: calc(100% + var(--grid-line-offset));
    width: var(--grid-line-width);
    background: linear-gradient(to bottom,var(--grid-line-color),var(--grid-line-color) 50%,transparent 0,transparent);
    background-size: var(--grid-line-width) var(--grid-line-gap);

    mask-composite: exclude;
    mask: 
        linear-gradient(
        to top,
        var(--secondary-color) var(--grid-line-fade-stop),
        transparent
        ),
        linear-gradient(
        to bottom,
        var(--secondary-color) var(--grid-line-fade-stop),
        transparent
        ),
        linear-gradient(--primary-color, --primary-color);
} */

/* .gridContainer::after {
    --grid-line-width: 1px;
    --grid-line-gap: 5px;
    --grid-line-color: rgba(0,0,0,calc(0.15 * 3));
    --secondary-color: #FFF;
    --grid-line-fade-stop: 90%;
    --grid-line-offset: -100px;
 
    content: '';
    position: absolute;
    height: calc(100% + var(--grid-line-offset));
    width: var(--grid-line-width);
    background: linear-gradient(to bottom,var(--grid-line-color),var(--grid-line-color) 50%,transparent 0,transparent);
    background-size: var(--grid-line-width) var(--grid-line-gap);

    mask-composite: exclude;
    mask: 
        linear-gradient(
        to top,
        var(--secondary-color) var(--grid-line-fade-stop),
        transparent
        ),
        linear-gradient(
        to bottom,
        var(--secondary-color) var(--grid-line-fade-stop),
        transparent
        ),
        linear-gradient(--primary-color, --primary-color);
} */